@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");

body {
	background: #0e1111;
	color: #fff;
	overflow-x: hidden;
}

/* Extra small devices (phones, less than 768px) */
// Custom heading
.custom-heading {
	font-family: "Indie Flower", cursive;
	font-size: 15vw;
}

// input group item
.input-group {
	font-family: "Recursive", cursive;
}

//Add item
.custom-add-input {
	font-size: 3.5vw;
}
// Add button
.custom-add-btn {
	font-size: 3.5vw;
}

// checkbox
.form-check-input {
	background-color: #0e1111;
	border: 0.15vw solid rgba($color: #fff, $alpha: 0.4);
	cursor: pointer;
}

// list goup item
.list-group-item {
	background-color: #0e1111;
	color: #fff;
	border-bottom: 0.15vw solid rgba($color: #fff, $alpha: 0.4);
	border-radius: none;
	font-family: "Recursive", cursive;

	h5 {
		word-break: break-all;
	}
}

/* Completed */
.done {
	opacity: 0.4;

	label {
		text-decoration: line-through;
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) {
	.custom-heading {
		font-size: 15vw;
	}

	//Add item
	.custom-add-input {
		font-size: 1.5vw;
	}
	// Add button
	.custom-add-btn {
		font-size: 1.5vw;
	}
}

// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.custom-heading {
		font-size: 10vw;
	}

	//Add item
	.custom-add-input {
		font-size: 1vw;
	}
	// Add button
	.custom-add-btn {
		font-size: 1vw;
	}
}
